
@{
    ViewBag.Title = "Videos";
}

<h2>Videos</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img src="~/App_Data/project_images/pizza.jpeg" />
            <p>butterfly.jpeg</p>
            <button type="button" class="btn btn-primary">Download</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </div>
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">

        </div>
    </div>
</div>

